<%-include('partials/header.ejs') %>
<%-include('partials/navbar.ejs') %>

<body>

    <div class="container">
        <hr>
        <h1><%= pergunta.titulo %></h1>
        <p> <%= pergunta.descricao %></p>
        <hr>
        <form action="">
            <h3>Responda</h3>
            <label>Resposta:</label>
            <textarea name="corpo" class="form-control" placeholder="Digite sua resposta">
            </textarea><br>
            <button type="submit" class="btn btn-success">Respoder</button>
        </form>
    </div>

</body>

<%-include('partials/footer.ejs') %>